:host {
    display: contents;
}

section {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    background-color: rgba(58, 58, 58, 0.24);
}

section .buttoms-type-weather {
    width: 100%;
    max-width: 1024px;
    height: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 1rem;
    padding: 0 1rem;
    position: relative;

}

section .buttoms-type-weather h1 {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.5rem;
    font-weight: bold;
    width: 100%;
    height: 50%;
    text-align: center;
    color: var(--white-color);
    text-transform: uppercase;
}

section .buttoms-type-weather button {
    margin-top: 1.5rem;
    padding: 0.5rem;
    width: 7rem;
    height: 2rem;
    text-transform: uppercase;
    outline: none;
    border: none;
    box-shadow: var(--box-shadow-white);
    background-color: transparent;
    cursor: pointer;
    color: var(--white-color);
    font-size: 0.8rem;
    background-color: var(--nav-bg);
    backdrop-filter: var(--blur-bg);
}

.contaner-display {
    width: 100%;
    max-width: 1024px;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

section .container-current-weather {
    width: 100%;
    max-width: 25rem;
    height: 35%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
}

section .container-current-weather h2 {
    position: absolute;
    top: 2%;
    left: 2%;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    color: var(--white-color);
    text-transform: uppercase;
    z-index: 2;
}

section .container-current-weather .current-weather {
    background-color: var(--nav-bg);
    backdrop-filter: var(--blur-bg);
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    border-radius: 0.5rem;
    color: var(--white-color);
    position: relative;
}

section .container-current-weather .current-weather .container-location {
    position: absolute;
    width: 40%;
    height: 2rem;
    top: 2%;
    right: 2%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

section .container-current-weather .current-weather .container-location img {
    width: 15%;
    height: 100%;
}

section .container-current-weather .current-weather .container-location p {
    width: 80%;
    height: 100%;
    font-size: calc(0.5rem + 0.5vw);
    font-weight: bold;
    text-transform: uppercase;
    padding: 0.2rem;
}

section .container-current-weather .current-weather img {
    width: 5rem;
    height: 5rem;
}

section .container-current-weather .current-weather p {
    text-transform: uppercase;
    font-size: 1rem;
}

section .container-forecast-weather {
    width: 100%;
    max-width: 50rem;
    height: 45%;
    color: var(--white-color);
    display: flex;
    justify-content: center;
    align-items: end;
    position: relative;
}

section .container-forecast-weather h2 {
    position: absolute;
    top: 2%;
    left: 2%;
    z-index: 1;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    color: var(--white-color);
    text-transform: uppercase;
}

section .container-forecast-weather .forecast-weather {
    background-color: var(--nav-bg);
    backdrop-filter: var(--blur-bg);
    border-radius: 0.5rem;
    position: relative;
    width: 100%;
    height: 100%;
}

section .container-forecast-weather .container-graph {
    width: 100%;
    height: 100%;
}

section .container-forecast-weather .container-graph div {
    width: 100%;
    height: 100%;
}

h3 {
    width: auto;
    height: 100%;
    font-size: calc(0.5rem + 0.5vw);
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (width > 768px) {

    .contaner-display {
        flex-direction: row;
    }

    section .container-forecast-weather {
        height: 90%;
    }

    section .container-forecast-weather .forecast-weather {
        height: 100%;
    }

    section .container-current-weather {
        height: 90%;
    }
}